html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

p {
    font-family: 'Verdana';
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}
#collaborators {
  float: right;
  width: 30px;
  margin-left: 10px;
}
#collaborators > img {
  margin-right: 5px;
  height: 30px;
  padding-bottom: 5px;
  width: 30px;
  border-radius: 3px;
}
#importExport {
  font-family: monospace;
}

/* Vincent */
/* Browser reset */
* {
    margin: 0;
    padding: 0;
}

/* header */
div#header {
    box-sizing: border-box;
    background: #f9f9f9;
    padding: 24px 20px 20px 20px;
    height: 87px;
}

div#logo-zone {
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 2;
}

#thymio-logo {
    float: left;
    padding: 11px 0;
}

h1#logo-text {
    font-weight: normal;
    font-size: 18px;
    color: #b1b1b1;
    float: left;
    margin-left: 10px;
    line-height: 47px;
}
/* buttons old layout
div#btn-menu {
    vertical-align: middle;
    margin-left: 30px;
}

.top-option-btn {
    transition: 0.1s ease all;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

a#info-btn {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid #efefef;
    display: inline-block;
    margin-right: 80px;
    width: 40px;
}
*/

.input-file:hover, a#info-btn:hover {
    opacity: 0.8;
}

div#btn-menu {
    text-align: center;
}

.top-option-btn, .top-option-btn img {
    transition: 0.1s ease all;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}

div#rightButtons, div#centerButtons, div#leftButtons {
display: inline-block;
}

div#leftButtons {
  float:left;
}

div#centerButtons {
  
}

div#rightButtons {
    float: right;
    margin-right: 66px;
}

div#centerButtons img {
    width: 50px;
    height: 50px;
    margin-top: -6px;
}

/*structure*/
#blocklyDiv {
    float: left;
    height: 90%;
    width: 75%;
    margin: 0;
}

div#aseba-zone {
    float: right;
    position:absolute;
    right: 0;
    width: 25%;
    height: 100%;
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 20px;
    border-top: 1px solid #e3e3e3;
}

div#showFileName {
    margin-top: 10px;
    color: #777;
}

textarea#importExport {
    border: 2px dashed #e3e3e3;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    max-height: 600px;
}

/* blockly toolbox style overide */
.blocklyToolboxDiv {
    border-top: 1px solid #e3e3e3 !important;
    background: #f9f9f9 !important;
    border-right: 1px solid #e3e3e3;
}

.blocklyTreeLabel {
    font-size: 14px !important;
    padding: 10px !important;
    color: #666 !important;
}

.blocklyTreeSelected .blocklyTreeLabel {
    color: #fff !important;
}

/* buttons update */

.input-file {
    display: inline-block;
}

.input-file > input
{
    display: none;
}

.input-file img
{
    cursor: pointer;
}
/*language selection dropdown*/
.lang {
    background-color: #eee;
    position: absolute;
    right: 20px;
    top: 23px;
    height: 40px;
    overflow: hidden;
    transition: all .4s ease;
    float: right;
    border-radius: 5px;
    z-index: 999;
}

.lang:hover {
  height: 284px;
}

.lang a{
  color: #000;
  text-decoration: none;
}

.lang a li:hover {
  color: #fff;
  background: #ef5e47 !important;
}

.lang li {
    display: block;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #155799;
    line-height: 40px;
    border-top: 1px solid #ccc;
}

.lang li:hover{
  background-color: #EEE;
}

.lang a:first-child li {
  border: none;
}

/* Overlay */

#overlay {
  display:none;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:rgba(0,0,0,0.5);
  transition:0.2s ease all;
  z-index:9999;
}

div#overlay-msg {
    width: 50%;
    background: white;
    padding: 52px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 4px;
    position: relative;
}

.close-button {
  position:absolute;
  right:20px;
  top:20px;
  cursor:pointer;
}

div#overlay-msg h1 {
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: left;
}

div#overlay-msg-content {
    text-align: left;
}

div#overlay-msg-content p{
    display: inline-block;
}

#overlay-msg-content  li {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
}

#overlay-msg-content  li span {
    color: #ececec;
    font-weight: bold;
    font-size: 46px;
    margin-right: 20px;
}

img.warnIcon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

/*tabs*/

.tabs .tabs-wrap {
    margin-bottom: 30px;
}

div#tab-overlay {
    position: fixed;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display:none;
}

.tabs.tabs-full {
    width: 600px;
    margin: 0 auto;
    background: #eee;
    margin-top: 10%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.3);
}

.tabs h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

.tab h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.tabs {
    padding: 0;
}

.tab ul {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 20px;
}

.tab li {
    font-family: verdana;
    font-size: 14px;
    line-height: 1.3em;
}

.tabs .tab-input {
    display: none;
}

.tabs .tab-label {
    color: #828282;
    cursor: pointer;
    float: left;
    padding: 1em;
    text-align: center;
}

.tabs-full .tab-label {
    display: table-cell;
    float: none;
    width: 1%;
    font-size: 14px;
}

.tabs .tab-label:hover {
    color: #fff;
    background: #558fe8;
}

.tabs .tab-input:checked + .tab-label {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.tabs .tabs-wrap {
    clear: both;
}

.tabs .tab {
    background-color: #fff;
    display: none;
    padding: 1em;
}

.tabs .tab > *:last-child {
    margin-bottom: 0;
}

#tab1:checked ~ .tabs-wrap #tab1content,
#tab2:checked ~ .tabs-wrap #tab2content,
#tab3:checked ~ .tabs-wrap #tab3content {
    display: block;
}

.tabs img {
    width: 110px;
    margin-bottom: 20px;
}

a.button {
    padding: 10px 20px;
    background: #558fe8;
    clear: both;
    color: white;
    text-decoration: none;
}

a.button:hover {
    background: #0f408c;
}

div#appinfo {
    display: inline-block;
}

#appinfo::after{
  clear:both;
}

#appinfo img {
  float:left;

}
#appinfo h3 {
    float: left;
    line-height: 110px;
    margin-left: 20px;
    color: #444;
}

/*lower resolutions*/

@media screen and (max-width: 1270px) {
  #blocklyDiv {
      float: left;
      height: 90%;
      width: 65%;
      margin: 0;
  }
  div#aseba-zone {
      width: 35%;
  }
  #overlay-msg-content li {
    text-align: center;
  }

}

@media screen and (max-width: 850px) {

  body { 
    min-width:500px;
    min-height:500px;
    overflow-x:initial;
  }

  #blocklyDiv {
    float: none;
    height: 45%;
    width: 100%;
    margin: 0;
  }
div#header {
    box-sizing: border-box;
    background: #f9f9f9;
    padding: 10px;
    height: 88px;
    text-align: center;
    position: relative;
}
  div#btn-menu {
      vertical-align: middle;
      padding: 10px 0;
      float: none;
  }

  .top-option-btn, .top-option-btn img {
    margin: 0 8px;
  }

  div#leftButtons {
    float: none;
  }

a#info-btn {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    display: inline;
    margin-right: 0;
}

  div#rightButtons {
    float: none;
    margin-right: 0;
  }

  .lang {
    background-color: #eee;
    position: initial;
    margin-left: 8px;
  }

  div#aseba-zone {
    width: 100%;
    height: 30%;
  }

  textarea#importExport {
      border: none;
      border-top: 2px dashed #e3e3e3;
      border-bottom: 2px dashed #e3e3e3;
      height: 20em !important;
      margin-top: 20px;
  }

div#aseba-zone {
    float: none;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 0;
}

  div#showFileName {
    text-align: center;
    margin-top: 10px;
  }


}

/* Add connection status */

p#th-connection-info {
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    margin: 0 10px 0 0;
    background: #eeeeee;
    padding: 0 10px;
    border-radius: 5px;
    font-size:12px;
    color:#666;
}

span#th-connection-status {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px 0;
}

#th-connection-status.connected {
  background: #79eb9f;
}

#th-connection-status.disconnected {
  background: #ef5e47;
}

/* Vincent END */
